<head>

<!-- Set the viewport so the website is acting responsively. -->
<meta content="width=device-width, initial-scale=1" name="viewport" />

<!--
 Could import a stylesheet or javascript file here.
 I did not choose for it because I'd like to keep it as 1 file when it is small.
 -->

<!-- Import a awesome Google font, the website is otherwise boring as hell. -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/synaptic/1.1.4/synaptic.js"></script>

<title>Product Concept</title>
</head>
<body>

<img class="clippy" src="/clippy.png">
<div class="clippy-balloon">Hi, I'm Clippy! I'm the browser assistant and my job is to help you navigate this page. I won't offer you assistance.</div>

<nav>
  <h1>Productnaam</h1>
  <ul>
    <a href="#block-1"><li>Superman</li></a>
    <a href="#block-2"><li>Batman</li></a>
    <a href="#block-3"><li>Thorman</li></a>
    <a href="#contact"><li>Contact</li></a>
  </ul>
</nav>

<a name="block-1">
  <div class="block block-white">
    <h1>Superman</h1>
    <p>
      Lorem ipsum dolor sit amet, euismod detracto omnesque id pro, ad quo quis possim, ea tempor postea impetus per. Maiorum interpretaris has in. Eos id sumo ubique habemus. Mei malis putant utroque te. Pri te tale admodum gubergren. Duo utinam tempor menandri at, natum affert melius cum ex. No quando semper delectus per, mollis dolorem vis at, maiestatis inciderint ad sea.
    </p>
  </div>
</a>

<a name="block-2">
  <div class="block block-blue">
    <h1>Batman</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, euismod detracto omnesque id pro, ad quo quis possim, ea tempor postea impetus per. Maiorum interpretaris has in. Eos id sumo ubique habemus. Mei malis putant utroque te. Pri te tale admodum gubergren. Duo utinam tempor menandri at, natum affert melius cum ex. No quando semper delectus per, mollis dolorem vis at, maiestatis inciderint ad sea.
        Lorem ipsum dolor sit amet, euismod detracto omnesque id pro, ad quo quis possim, ea tempor postea impetus per. Maiorum interpretaris has in. Eos id sumo ubique habemus. Mei malis putant utroque te. Pri te tale admodum gubergren. Duo utinam tempor menandri at, natum affert melius cum ex. No quando semper delectus per, mollis dolorem vis at, maiestatis inciderint ad sea.
      </p>
      <img src="https://www.thewrap.com/wp-content/uploads/2018/09/DC-Comics-Batman-Robin.png" alt="someImageNameForSeo">
    </div>
  </div>
</a>

<a name="block-3">
  <div class="block block-white">
    <h1>Thorman</h1>
    <p>
      Lorem ipsum dolor sit amet, euismod detracto omnesque id pro, ad quo quis possim, ea tempor postea impetus per. Maiorum interpretaris has in. Eos id sumo ubique habemus. Mei malis putant utroque te. Pri te tale admodum gubergren. Duo utinam tempor menandri at, natum affert melius cum ex. No quando semper delectus per, mollis dolorem vis at, maiestatis inciderint ad sea.
    </p>
  </div>
</a>

<footer>
  <a name="contact">
    <div class="block block-orange">
      <h1>Contact</h1>
      <form action="#" method="post">
        <input id="name" type="text" name="name" value="" placeholder="Voer je naam in">
        <input id="email" type="text" name="email" value="" placeholder="Voer je e-mailadres in">
        <textarea id="message" name="message" rows="8" cols="80" placeholder="Voer je berichtje snel in, want wij wachten er op!"></textarea>
        <input onclick="setCookie();" type="button" name="submit" value="Verstuur">
      </form>
    </div>
  </a>
</footer>

</body>

<style media="screen">

.clippy:hover + .clippy-balloon {
  opacity: 1;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}

.clippy-balloon {
  height: 110px;
  width: 200px;
  background-color: #FBF7A6;
  color: black;

  padding: 10px;

  border: 1px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  position: fixed;
  bottom: 160px;
  right: 100px;
  opacity: 0;

  font-size: 16px;

  -ms-transform: rotate(340deg); /* IE 9 */
  -webkit-transform: rotate(340deg); /* Safari 3-8 */
  transform: rotate(340deg);
}

.clippy:hover {
  bottom: 10px;
  right: 0px;

  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari 3-8 */
  transform: rotate(360deg);
}

.clippy {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);

  position: fixed;
  bottom: 0px;
  right: -100px;
}

/* Form styles */
form > * {
  display: block;
  width: 100%;
  margin: 8px 0;

  border: 1px solid #CCCCCC;
  border-radius: 4px;

  padding: 10px;
  font-size: 16px;
}

input {
  height: 40px;
}

textarea {
	height: 240px;
}

input[type=button] {
  width: 100px;
  background-color: #EA526F;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=button]:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Resp. styles */
@media screen and (max-width: 768px) {
    nav ul a {
      display: block;
      padding: 5px 0px 5px 0px;
    }

    div.block {
      padding: 20px 10% 20px 10% !important
    }
}

@media screen and (max-width: 375px) {
    nav h1 {
      font-size: 1em;
    }

    nav ul a li {
      font-size: 16px;
    }

    div.block h1 {
      color: black;
      font-size: 1.2em;
    }

    div.block p {
      color: black;
      font-size: 0.8em;
    }
}

/* Set '1 em' to be equal as 20px; */
body {
  font-size: 20px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/* Navigation styles */
nav {
  background-color: #EA526F;
  color: white;
  padding: 20px 40px 20px 40px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav ul li {
  font-size: 20px;
  font-weight: 600;
  display: inline;
  padding: 10px;
}

/* Block styles */
div.block {
  padding: 20px 20% 20px 20%;
}

div.block div img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 300px;
}

div.block div img:hover {
  opacity: 0.9;
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

div.block-blue h1,
div.block-orange h1 {
  color: white;
  font-size: 2em;
}

div.block-white {
  background-color: #FFFFFF;
  color: black;
}

div.block-blue {
  background-color: #25CED1;
  color: white;
}

div.block-orange {
  background-color: #FF8A5B;
  color: white;
}

</style>

<!-- Place scripts at the bottom, we can't target elements that are not loaded in the dom yet. -->
<script type="text/javascript">

// In the form is a button waiting to be clicked.
// When it is clicked it sets the cookie and saves the values locally.

  // Seperate function for fetching the form data.
  function getFormData() {

    var formData = [];

    formData['name']    = document.getElementById("name").value;
    formData['email']   = document.getElementById("email").value;
    formData['message'] = document.getElementById("message").value;

    return formData;
  }

  function setCookie() {

      // Create a new date timestamp.
      var date = new Date();
      date.setTime( date.getTime() + ( 365 * 24 * 60 * 60 * 1000 ));

      // Fetch the form data.
      const formData = getFormData();

      const expires = 'expires=' + date.toUTCString();
      const name    = 'name='    + formData['name'];
      const email   = 'email='   + formData['email'];
      const message = 'message=' + formData['message'];

      // Set the form cookie
      const myCookie = document.cookie =
      'formCookie' + "=" +
      name         + ";" +
      email        + ";" +
      message      + ";" +
      expires      + ";";

      // Log it for some caveman debugging. Check console for cookie data.
      console.log(myCookie);
  }
</script>
